NODE_ENV=development
PORT=3000

DB_HOST=127.0.0.1
DB_PORT=3307
DB_USER=rengas
DB_PASSWORD=root
DB_NAME=rengas_admin

MYSQL_ROOT_PASSWORD=root
JWT_SECRET=3e4f7b77c59eee2a44dc806715819dea642869a8d255c362fd6c074d9be3e40d

UPLOAD_DIR=E:/rengas_borong/rengas-admin/uploads
BACKEND_PUBLIC_URL=http://localhost:3000