NODE_ENV=development
PORT=3000

DB_HOST=127.0.0.1
DB_PORT=3307
DB_USER=rengas
DB_PASSWORD=root
DB_NAME=rengas_admin

MYSQL_ROOT_PASSWORD=root
JWT_SECRET=RengasJWT_2026_Use_A_Long_Random_Secret_987654321

UPLOAD_DIR=E:/rengas_borong/rengas-admin/uploads
BACKEND_PUBLIC_URL=http://localhost:3000